.videoContent {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 10px 0;
  margin-bottom: 30px;
}
.title {
  font-size: 21px;
  font-weight: bold;
  text-align: left;
  margin-top: 40px;
  margin-left: 160px;
  margin-bottom: 20px;
}

.card {
  width: 250px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgb(0 0 0 / 0.1);
}

.thumbnail {
  width: 100%;
  display: block;
}
.longSkeleton {
  width: 1330px;
  height: 187.5px;
  background: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200% 100%;
  animation: shimmer 1.2s infinite linear;
  border-radius: 12px;
  margin: 0 auto;
  margin-bottom: 20px;
}
